@import "variables.css";


.space-container {
     background: var(--surface__spacegradient);
    position: fixed; /* Fixes the div relative to the browser window */
    top: 0;          /* Aligns to the top edge */
    left: 0;         /* Aligns to the left edge */
    width: 100vw;    /* Takes 100% of the viewport width */
    height: 100vh;   /* Takes 100% of the viewport height */
    z-index: -10;
  }
  
  .stars1 {
    animation: space 80s ease-in-out infinite;
    background-image: 
      radial-gradient(1px 1px at 25px 5px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 50px 25px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 125px 20px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 50px 75px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 15px 125px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 110px 80px, var(--offwhite), rgba(255, 255, 255, 0));
  }
  
  .stars2 {
    animation: space 120s ease-in-out infinite;
    background-image: 
      radial-gradient(1px 1px at 75px 125px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 100px 75px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 199px 100px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 20px 50px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 100px 5px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 5px 5px, var(--offwhite), rgba(255, 255, 255, 0));
  }
  
  .stars3 {
    animation: space 160s ease-in-out infinite;
    background-image: 
      radial-gradient(1px 1px at 10px 10px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 150px 150px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 60px 170px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 175px 180px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 195px 95px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 95px 145px, var(--offwhite), rgba(255, 255, 255, 0));
  }
  .stars4{
    background-image: 
      radial-gradient(1px 1px at 10px 10px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 150px 150px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 60px 170px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 175px 180px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 195px 95px, var(--offwhite), rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 95px 145px, var(--offwhite), rgba(255, 255, 255, 0));
      opacity: 0.4;
  }

  
  @keyframes space {
    40% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    60% {
      opacity: 0.75;
    }
    100% {
      transform: rotate(360deg);
    }
  }